<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="src/style/app.css" rel="stylesheet"/>
  <meta charset="utf-8">
</head>
<body>
  <div id="home">
    <h1>Connected as {{me}}</h1>
    <button type="button" @click='disconection'>Disconection</button><br>
    <input type="text" v-model='newFriend'><br>
    <button type="button" @click='addFriend'>Add to friends list</button>
    <h2>My friends</h2>
    <friend-list
      v-for='friend in myFriends'
      :friend='friend'
      :key='friend.id'
    ></friend-list>
  </div>
  <div id='dialog' class='moto'>
    <input type="text" v-model="talkingTo" @keyup.enter='openDialog'><br>
    <conversation
      v-for="line in dialog"
      :sentence="line"
      :key="line.id"
    ></conversation>
    <input v-model="message" type="text" @keyup.enter="sendMessage">
    <button type="button" @click='sendMessage'>Send</button>
  </div>
  <div id="sync-wrapper"></div>
  <script type="text/javascript" src='/dist/home-window.js'></script>
</body>
</html>
