body{
  background-color: #333;
  color: #8888FF;
  font-size: 20px;

}
.moto{
  border: 2px solid white;
  margin-bottom: 50px;

}
.ME {
  padding-left: 100px;
  color: #06F;
}
.OTHER {
  padding-left: 10px;
  color: #F60;
}
.form-button{
  /*border: 2px solid white;*/
  margin-bottom: 50px;
  padding-left: 40%;
  padding-top: 50px;
}
.form{
  border: 2px solid white;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
textarea{
  font-size: 20px
}
.to-hide{
  display: none;
}
.to-show{
  border: 1px solid gray;
}
